main {
    font-family: Arial, sans-serif;
    background-color: #577399;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.incidents-box {
    background-color: #BDD5EA;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
}

.incidents-box h2 {
    margin-top: 15px;
    color: #495867;
}

.search-box {
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #495867;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #6785ad;
    border-radius: 90px;
    outline: none;
    max-width: 400px;
    margin-right: 10px;
}

button {
    background-color: #254C99;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3366CC;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #6785ad;
}

p a {
    text-decoration: none;
    color: #495867;
    display: block;
    margin-top: 20px;
}

p a:hover {
    text-decoration: underline;
}




