body {
    font-family: Arial, sans-serif;
    background-color: #577399;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.incident-box {
    width: 600px;
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-box h3 {
    color: #254C99;
    margin-bottom: 10px;
}

.info-box p {
    margin: 0;
}

.info-box .single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}