{{#partial "contenido" }}
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f0f0f0; /* Cambia el color de fondo según tus preferencias */
        }

        img {
            width: 80vw; /* El 80% del ancho de la ventana */
            height: 80vh; /* El 80% de la altura de la ventana */
            margin: 10px; /* Margen del 10% en cada lado */
            max-width: 100%;
            max-height: 100%;
        }
    </style>
    <div>
        <img src="/Img/404.jpg">
    </div>
{{/partial}}
{{> templates/baseSinNavBar }}
